<%= turbo_stream_from @conversation %>

<h1> Conversation <%= @conversation.id %> </h1>

<p>
  <strong>Company representative:</strong>
  <%= User.find(@conversation.company_representative_id).username.capitalize() %>
</p>

<p>
  <strong>Customer:</strong>
  <%= User.find(@conversation.customer_id).username.capitalize() %>
</p>

<p>
  <strong>Status:</strong>
  <%= @conversation.status.capitalize %>
  
  <% if !(current_user.customer?) %>
    <tr>
      <div class="row mb-3">
        <div class="col-md-3">
          <div class="card" >
            <div class="card-body" >
              <%= render '/conversations/status_change_form', conversation: @conversation %>
            </div>
          </div>
        </div>
      </div>
    </tr>
  <% end %>

</p>

  <tr>
    <div id="comments_catch">
      <% @conversation.comments.order({ :created_at => :asc }).each do |a_comment| %>
          <%= render "shared/comment", comment: a_comment %>
      <% end %>
    </div>
  </tr>

<%= turbo_frame_tag "new_comment", src: new_comment_path(:a_conversation_id => params[:id]), target: "_top" %>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>





