<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <h1 class="display-4">
      <%= "#{@user.username.capitalize()}'s rating" %>
    </h1>

    <p class="lead text-muted">Average rating over all closed conversations</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1 class="display-5">
      <%= "#{@the_number} / 5" %>
    </h1>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <%= render "/shared/rate_bar", number: @the_number %>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <h1 class="display-4">
      <%= "#{@user.username.capitalize()}'s conversations" %>
    </h1>

    <p class="lead text-muted">Urgent, open and closed</p>
  </div>
</div>





<% if current_user.customer == true %>
  <tr>
    <% current_user.customer_conversations.each do |a_conversation| %>
      <%= render "/shared/conversation_navigator", conversation: a_conversation %>
    <% end %>
  </tr>
<% else %>
  <tr>
    <% current_user.company_conversations.each do |a_conversation| %>
      <%= render "/shared/conversation_navigator", conversation: a_conversation %> 
    <% end %>
  </tr>
<% end %>

